.SkipNavigationWrap {
  position: relative;    
}

.SkipNavigationWrap a {
  position: fixed; left:0; top: -35px; display: block; width:140px; color:#ffffff; background: #333333;
  text-align: center; line-height: 30px; font-size: 12px; z-index: 200;
}
  
.SkipNavigationWrap a:active,
.SkipNavigationWrap a:focus {
  top:0;
}