/* 웹폰트 CSS */
@font-face {
  font-family:'NanumBarunGothic'; 
  src:url("./styles/fonts/NanumBarunGothic.woff")
}
@font-face {
  font-family:'NanumBarunGothicBold'; 
  src:url("./styles/fonts/NanumBarunGothicBold.woff")
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'NanumBarunGothic', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-size: 1rem;
  font-weight: normal;
}